channels:
- conda-forge
dependencies:
- coveralls
- coverage
- bidict =0.23.1
- cloudpickle =3.0.0
- graphviz =9.0.0
- h5io =0.2.2
- h5io_browser =0.0.10
- matplotlib =3.8.3
- pyiron_base =0.8.1
- pyiron_contrib =0.1.16
- pympipool =0.7.17
- python-graphviz =0.20.3
- toposort =1.10
- typeguard =4.2.1
- ase =3.22.1
- atomistics =0.1.24
- lammps
- phonopy =2.22.1
- pyiron_atomistics =0.5.0
- pyiron-data =0.0.29
- numpy =1.26.4
