channels:
- conda-forge
dependencies:
- ipykernel
- myst-parser
- nbsphinx
- sphinx-gallery
- sphinx-rtd-theme
- versioneer
- coveralls
- coverage
- bidict =0.23.1
- cloudpickle =3.0.0
- graphviz =9.0.0
- h5io =0.2.4
- h5io_browser =0.0.15
- pandas =2.2.2
- pyiron_base =0.9.4
- pyiron_contrib =0.1.17
- pyiron_snippets =0.1.2
- pympipool =0.8.4
- python-graphviz =0.20.3
- toposort =1.10
- typeguard =4.3.0
