# This runs cron jobs daily

name: Daily

on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'

jobs:
  codeql:
    uses: pyiron/actions/.github/workflows/tests-and-coverage.yml@main 
    secrets: inherit
    with:
      extra-python-paths: tests tests/benchmark tests/integration tests/static tests/unit  # For pympipool