# This runs jobs which pyiron modules should run on pushes or PRs to main

name: Push-main-Pull-all

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pyiron:
    uses: pyiron/actions/.github/workflows/push-pull.yml@add_versioneer_dependency
    secrets: inherit
    with:
      docs-env-files: .ci_support/environment.yml
      notebooks-env-files: .ci_support/environment.yml .ci_support/environment-notebooks.yml
      tests-in-python-path: true
      runner-alt2: 'macos-11'
      python-version-alt2: 'exclude'