# This runs jobs which pyiron modules should run on pushes or PRs to main

name: Push-main-Pull-all

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pyiron:
    uses: pyiron/actions/.github/workflows/push-pull.yml@bump_python
    secrets: inherit
    with:
      docs-env-files: .ci_support/environment.yml
      notebooks-env-files: .ci_support/environment.yml .ci_support/environment-notebooks.yml
      extra-python-paths: tests/benchmark tests/integration tests/static tests/unit  # For pympipool
      runner-alt2: 'macos-11'  # For pympipool
      python-version-alt3: 'exclude'  # No python 3.9