# This runs jobs which pyiron modules should run on release
name: Release

on:
#  pull_request:
  release:
    types: [ published ]

jobs:
  pyiron:
    uses: pyiron/actions/.github/workflows/pyproject-release.yml@actions-4.0.2
    secrets: inherit
    with:
      semantic-upper-bound: 'minor'
      lower-bound-yaml: '.ci_support/lower_bound.yml'
#      publish-to-pypi: false